* {
  box-sizing: border-box;
  font-family: 'VT323', monospace;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background-image: url("/public/background.jpg");
  background-size: contain;
  padding-bottom: 30px;
  min-height: 100vh;
}
